@using QEQ.Models
@{
    ViewBag.Title = "ABMCategorias";
}

<br />
<br />
<br />
<table>

    <tr>
        <th width="250">Nombre</th>
        <th width="250"></th>
        <th width="250"></th>
    </tr>
    @{
        foreach (Categorias cate in ViewBag.ListCate)
        {
            <tr>
                <td>@cate.Nombre</td>
                <td>@Html.ActionLink("Eliminar", "GestionCategorias", "BackOffice", new { Accion = "Eliminar", id = cate.id }, null)</td>
                <td>@Html.ActionLink("Modificar", "GestionCategorias", "BackOffice", new { Accion = "Modificar", id = cate.id }, null)</td>
            </tr>
        }
    }
</table>

@Html.ActionLink("Insertar una nueva Categoría", "GestionCategorias", "BackOffice", new { Accion = "Insertar" }, new { @class = "btn btn-default" })