
@{
    ViewBag.Title = "Index";
}
<br/>
<br />
<br />

<div style=" text-align: center">

    <h3>
        @Html.ActionLink("Categorías", "ABMCat", "BackOffice", null, new { @class = "btn MenuBtn" })
    </h3>


    <h3>
        @Html.ActionLink("Características", "", "BackOffice", null, new { @class = "btn MenuBtn" })
    </h3>


    <h3>
        @Html.ActionLink("Personajes", "", "BackOffice", null, new { @class = "btn MenuBtn" })
    </h3>

</div>



