@using QEQ.Models
@model Categorias

@{
    ViewBag.Title = "FormularioCategorias";
}

<br />
<br />
<br />

@using (Html.BeginForm("ABMCategorias", "BackOffice", new { Accion = @ViewBag.Accion }, FormMethod.Post))
{
    @Html.HiddenFor(X => X.id)
    <p>Nombre:</p> @Html.TextBoxFor(X => X.Nombre, (object)ViewBag.Enable) @Html.ValidationMessageFor(X => X.Nombre)<br />
    

    <input type="submit" value="Aceptar">
}

