
@{
    ViewBag.Title = "Contacto";
}
<br />


<h2>Institución:</h2>
<h4>Escuela Técnica ORT, Sede Almagro</h4>

<h2>Integrantes:</h2>
<h4>Marcos Marano</h4>
<h4>Candela Krummer Mateos</h4>
<h4>Johanna Gendler</h4>
<h4>Nicolás Lerman</h4>



