
@{
    ViewBag.Title = "Contacto";
}
<br />
<br />
<br />

<h2>Integrantes:</h2><br />
<h3>Marcos Marano</h3><br />
<h3>Candela Krummer Mateos</h3><br />
<h3>Johanna Gendler</h3><br />
<h3>Nicolás Lerman</h3><br />



