@using QEQ.Models
@model Usuario

@{
    ViewBag.Title = "Login";
}
<br />
<br />
<br />
<link rel="stylesheet" type="text/css" href="~/Content/Estilo.css" />

<div style="align-items: center">
    <div class="divForm">

        @using (Html.BeginForm("ValidarLogIn", "Home", FormMethod.Post))
        {
            <br />
            <br />
            @Html.TextBoxFor(x => x.Mail, null, new { type = "email", @placeholder = "     Inserte su mail", @class = "FormUsuario" })<br /><br />
            @Html.PasswordFor(x => x.Contraseña, new { @placeholder = "      Inserte su contraseña", @class = "FormContraseña" })

            <p class="MensajeError">@ViewBag.Mensaje</p>
            <input type="submit" value="Aceptar">
            <br />
            <br />
        }

    </div>
</div>


    

