
@{
    ViewBag.Title = "Home";
}
<link rel="stylesheet" type="text/css" href="~/Content/Estilo.css" />

<div class="Titulo">
    <h1 style="font-size:60px">¿Quién es quién?</h1>
</div>


<tr>
    <td>
        <h3">
            @Html.ActionLink("Jugar", "#", "#", null, new { @class = "btn btn-default" })
        </h3>
    </td>
    <td>
        <h3>
        @Html.ActionLink("Instrucciones", "#", "#", null, new { @class = "btn btn-default" })
        </h3>
    </td>
    <td>
        <h3>
        @Html.ActionLink("Contacto", "#", "#", null, new { @class = "btn btn-default" })
        </h3>
    </td>
</tr>


<!--<style>
    .Botonera {
        background-color: rgba(57, 145, 242, 0);
        border: 7px solid #47525E;
        border-radius: 100px;
        text-align: center;
        width: auto;

        /*

        display: block;
        margin-left: auto;
        margin-right: auto;
        */
    }
</style>
-->
