@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/Content/Estilo.css" />

<style>
    .Botonera {
        background-color: rgba(57, 145, 242, 0);
        border: 7px solid #47525E;
        border-radius: 100px;
        width: auto;
        height: 97.19px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
</style>


<div class="jumbotron container">

</div>

<h1>¿Quién es quién?</h1>
<div class="Botonera">
    <h3>PORFAVORFUNCIONA</h3>
</div>






