@using QEQ.Models;
@{

    ViewBag.Title = "SelectPerXCate";
    List<QEQ.Models.Personajes> lPersonajes = ViewBag.ListaDePersonajes;
}
<link rel="stylesheet" type="text/css" href="~/Content/Estilo.css" />
<<<<<<< HEAD
<h2>Seleccionar Personaje</h2>
@using (Html.BeginForm("Preguntas","Juego", FormMethod.Post))
=======
<br />
<br />
<br />
>>>>>>> 006778ab12024b958c35c60a7684377a57fa3f1b
@{
    <input type="submit" value="continuar"/>
    foreach (Personajes p in lPersonajes)
    {
        <div class="Card">

           <div id="photo"><img src="@p.Imagen" /></div> 
            <p>@p.Nombre</p>
        </div>



    }
    
}


<!--
    <table>
    <tr>
        <td>
            <p>Nombre</p>
        </td>
        <td>
            <p>Imagen</p>
        </td>
    </tr>


</table>


-->
